
<div style="margin: 50px 0px; ">ĐĂNG KÝ</div>
<form action="/login/signup" method="POST">
  <div class="form-group">
    <label for="name">Email address</label>
    <input type="text" class="form-control" id="name" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  
  <button type="submit" class="btn btn-primary">SIGNUP</button>
</form>
